<a href="https://colab.research.google.com/github/fredux/DevOps/blob/main/Operacoes_avancadas_DF_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 69kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 42.8MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=615f3d0d9c178d01f395e15d3fdba7a55d2583e8fd58e6ee9177ad37e18f1564
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Operacoes avancadas").getOrCreate()

In [ ]:
! git clone https://github.com/leonardoamorim/aulapython.git

Cloning into 'aulapython'...
remote: Enumerating objects: 51, done.
remote: Counting objects: 100% (51/51), done.
remote: Compressing objects: 100% (51/51), done.
remote: Total 51 (delta 17), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (51/51), done.

In [ ]:
! ls aulapython

 airlinedelaycauses_DelayedFlights.csv.part01.rar
 airlinedelaycauses_DelayedFlights.csv.part02.rar
 airlinedelaycauses_DelayedFlights.csv.part03.rar
 class_summary_statistics_asyncio.py
 class_summary_statistics_numba.py
 class_summary_statistics.py
 colaboradores.csv
 colaboradores_data_missing.csv
 exercicio_01.py
 funcionarios.json
'HPC_com_Python_para_Big_Data_lab_vecAdd_PyCUDA (1).ipynb'
 IRIS.csv
 iris.data
 KNN-RegressaoLogistica.ipynb
 NASA_access_log_Aug95.gz
 NASA_access_log_Jul95.gz
'Operações avançadas com DataFrame usando PySpark.ipynb'
'Operacoes com dados faltantes.ipynb'
'Operacoes com Datas e Timestamps.ipynb'
'Pandas - Intro.ipynb'
 programa1.py
 programa2.py
 programa3.py
'Pyspark - Operações Básicas com DF.ipynb'
' Python para Big Data - Introdução a Programação Funcional com Python Funções Lambda em Python.ipynb'
'RAPIDS(1).ipynb'
 Regressão_linear_com_Python.ipynb
 Regressão_logística_com_Python.ipynb
 titanic_test.csv
 titanic_train.csv
 Tutorial_Cuda_no_Colab.ipynb
 USA_Housing.csv
 Visualizacao-de-Dados-Dataset-Iris.ipynb

In [ ]:
! head -n 5 aulapython/colaboradores.csv

id,nome,cargo,salario,departamento,datadeadmissao
1,"Marcio Santos","Analista",5000.00,"Projetos",2010-01-04
2,"Bruno Garcia","Instrutor",4000.00,"Treinamento",2010-01-06
3,"Celia Silva","Vendedora",3500.00,"Vendas",2011-02-07
4,"Beatriz Dias","Gerencia",5500.00,"Recursos Humanos",2011-09-22

In [ ]:
df = spark.read.csv('aulapython/colaboradores.csv', inferSchema=True, header=True)

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- cargo: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- departamento: string (nullable = true)
 |-- datadeadmissao: string (nullable = true)

In [ ]:
df.show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|    2010-01-06|
|  3|    Celia Silva|Vendedora| 3500.0|          Vendas|    2011-02-07|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|    2012-02-15|
|  6|   Leticia Dias| Analista| 5100.0|        Projetos|    2012-04-26|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|    2012-10-25|
|  8|     Cezar Maia| Gerencia| 7000.0|   Administracao|    2014-02-21|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|    2015-02-17|
| 12|   Marcia Costa|Vendedora| 2700.0|          Vendas|    2015-02-17|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|    2010-08-04|
| 16|   Rosana Rocha|Vendedora| 3000.0|          Vendas|    2010-09-04|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [ ]:
df.filter("salario < 3000").show()

+---+--------------+---------+-------+------------+--------------+
| id|          nome|    cargo|salario|departamento|datadeadmissao|
+---+--------------+---------+-------+------------+--------------+
| 12|  Marcia Costa|Vendedora| 2700.0|      Vendas|    2015-02-17|
| 14|Roberta Amaral|Vendedora| 2800.0|      Vendas|    2015-10-17|
+---+--------------+---------+-------+------------+--------------+

In [ ]:
df.filter("salario < 3000").select('datadeadmissao').show()

+--------------+
|datadeadmissao|
+--------------+
|    2015-02-17|
|    2015-10-17|
+--------------+

In [ ]:
df.filter( (df['salario'] > 3000) & (df['salario'] < 4000) ).show()

+---+------------+---------+-------+------------+--------------+
| id|        nome|    cargo|salario|departamento|datadeadmissao|
+---+------------+---------+-------+------------+--------------+
|  3| Celia Silva|Vendedora| 3500.0|      Vendas|    2011-02-07|
|  9|Amanda Nunes|Vendedora| 3500.0|      Vendas|    2014-02-28|
| 10|Paula Priore|Vendedora| 3500.0|      Vendas|    2014-03-07|
+---+------------+---------+-------+------------+--------------+

In [ ]:
df.groupBy("departamento").count().show()

+----------------+-----+
|    departamento|count|
+----------------+-----+
|Recursos Humanos|    2|
|        Projetos|    5|
|          Vendas|    7|
|   Administracao|    2|
|     Treinamento|    4|
+----------------+-----+

In [ ]:
df.groupBy("departamento").agg({'salario': 'mean'}).show()

+----------------+-----------------+
|    departamento|     avg(salario)|
+----------------+-----------------+
|Recursos Humanos|           4800.0|
|        Projetos|           5140.0|
|          Vendas|3285.714285714286|
|   Administracao|           7250.0|
|     Treinamento|           4375.0|
+----------------+-----------------+

In [ ]:
df.groupBy("departamento").agg({'salario': 'min'}).show()

+----------------+------------+
|    departamento|min(salario)|
+----------------+------------+
|Recursos Humanos|      4100.0|
|        Projetos|      4000.0|
|          Vendas|      2700.0|
|   Administracao|      7000.0|
|     Treinamento|      4000.0|
+----------------+------------+

In [ ]:
df.groupBy("departamento").agg({'salario': 'max'}).show()

+----------------+------------+
|    departamento|max(salario)|
+----------------+------------+
|Recursos Humanos|      5500.0|
|        Projetos|      6500.0|
|          Vendas|      4000.0|
|   Administracao|      7500.0|
|     Treinamento|      5300.0|
+----------------+------------+

In [ ]:
df.orderBy('salario').show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
| 12|   Marcia Costa|Vendedora| 2700.0|          Vendas|    2015-02-17|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|    2015-10-17|
| 16|   Rosana Rocha|Vendedora| 3000.0|          Vendas|    2010-09-04|
|  3|    Celia Silva|Vendedora| 3500.0|          Vendas|    2011-02-07|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|    2014-03-07|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|    2014-02-28|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|    2010-01-06|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|    2015-02-17|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|    2007-12-03|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|    2010-08-04|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|    2015-09-17|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|    2012-02-15|
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|    2010-01-04|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|    2012-10-25|
|  6|   Leticia Dias| Analista| 5100.0|        Projetos|    2012-04-26|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|    2008-10-25|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|    2011-09-22|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|    2011-01-04|
|  8|     Cezar Maia| Gerencia| 7000.0|   Administracao|    2014-02-21|
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|    2009-10-25|
+---+---------------+---------+-------+----------------+--------------+

In [ ]:
df.orderBy(df.salario.desc()).show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|    2009-10-25|
|  8|     Cezar Maia| Gerencia| 7000.0|   Administracao|    2014-02-21|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|    2011-01-04|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|    2011-09-22|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|    2008-10-25|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|    2012-10-25|
|  6|   Leticia Dias| Analista| 5100.0|        Projetos|    2012-04-26|
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|    2010-01-04|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|    2012-02-15|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|    2015-09-17|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|    2010-01-06|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|    2010-08-04|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|    2015-02-17|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|    2007-12-03|
|  3|    Celia Silva|Vendedora| 3500.0|          Vendas|    2011-02-07|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|    2014-03-07|
| 16|   Rosana Rocha|Vendedora| 3000.0|          Vendas|    2010-09-04|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|    2015-10-17|
| 12|   Marcia Costa|Vendedora| 2700.0|          Vendas|    2015-02-17|
+---+---------------+---------+-------+----------------+--------------+

In [ ]:
from pyspark.sql.functions import format_number, avg, stddev

In [ ]:
salario_std = df.select( stddev("salario").alias('std') )

In [ ]:
salario_std.show()

+----------------+
|             std|
+----------------+
|1347.22912520086|
+----------------+

In [ ]:
salario_std.select( format_number('std', 2) ).show()

+---------------------+
|format_number(std, 2)|
+---------------------+
|             1,347.23|
+---------------------+